<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%
    }

    p {
        line-height: 2
    }
</style>

<body>

    <div class="w3-container w3-padding-32 w3-pale-blue" id="about">
        <div class="w3-content">
            <h1></h1>
            <h1 class="w3-center w3-text-grey"><b>Attribute to Sort</b></h1>
            <h1></h1>

            <form action="/sort" method="POST">
                <input type="radio" name="Attribute" value="Energy" checked> Energy<br>
                <input type="radio" name="Attribute" value="Liveness"> Liveness<br>
                <input type="radio" name="Attribute" value="tempo"> Tempo<br>
                <input type="radio" name="Attribute" value="speechiness"> Speechiness<br>
                <input type="radio" name="Attribute" value="acousticness"> Acousticness<br>
                <input type="radio" name="Attribute" value="instrumentalness"> Instrumentalness<br>
                <input type="radio" name="Attribute" value="danceability"> Danceability<br>
                <input type="radio" name="Attribute" value="loudness"> Loudness<br>
                <input type="radio" name="Attribute" value="valence"> Valence<br>

                <h1></h1>
                <h1 class="w3-center w3-text-grey"><b>Method of Sorting</b></h1>
                <h1></h1>
                  <input type="radio" name="Method" value="Peek" checked> 
                   <label for="sad"><img src="Peak.png" alt="I'm sad" /></label>Peek<br>
                  <input type="radio" name="Method" value="Quick then Slow Climb"> 
                   <label for="sad"><img src="QuickThenSlow.png" alt="I'm sad" /></label>Quick then Slow Climb<br>
                  <input type="radio" name="Method" value="To Least"> 
                   <label for="sad"><img src="MaxToMin.png" alt="I'm sad" /></label>To Least<br>
                  <input type="radio" name="Method" value="To Greatest"> 
                   <label for="sad"><img src="MinToMax.png" alt="I'm sad" /></label>To Greatest<br>
                <p class="w3-large">
                    <input type="submit" class="w3-button w3-round w3-grey w3-opacity w3-hover-opacity-off" style="padding:8px 60px" value="Submit" />
                </p>
            </form>

            <div class="w3-container w3-padding-16 w3-pale-blue w3-center w3-wide" id="login">

            </div>

        </div>
    </div>

</body>

</html>
